__pycache__/
*.py[cod]
*.log

# environment files
.env
.env.*

# OS / editor
.DS_Store
.vscode/
.idea/

# virtual environments
venv/
.venv/



# Google Cloud Service Account Key
gen-lang-client-0058632069-7b124e65a759.json
